html
  head
    link(href='/bootstrap/css/bootstrap.min.css',rel='stylesheet')
    title Mail Decryptor Tool
    meta(name='viewport',content='width=device-width,initial-scale=1')
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    .container
      .jumbotron
        center
          h2 S/MIME E-mail Decryption Tool
        if err
          div(class='alert alert-danger')
            span= err
        form(method='POST')
          div(class='form-group')
            label(for='key') Key
            select(class='form-control',id='key',name='key')
              each k in keys
                if key == k 
                  option(selected)= k
                else
                  option= k 
          p Paste cipher-text in the text box below 
          // <b>or</b> upload 
            button(type='button',class='btn btn-warning btn-lg') file 
              span(class='glyphicon glyphicon-download-alt',aria-hidden='true')
          div(class='form-group')
            label(for='encrypted') Encrypted Data
            textarea(name="encrypted",cols="100",style='font-family:monospace;width:100%;height:250px;overflow:autoscroll;')= encrypted
            br
            br
            center
              button(type='button',class='btn btn-primary btn-lg',aria-hidden='',onclick="submit()") DECRYPT 
                span(class='glyphicon glyphicon-filter',aria-hidden='true') 
        pre(style='width=100%;height:250px;')= decrypted
        hr
        img(style='float:right;',src='img/GWDG.png') 
        small Copyright 2015, GWDG, Send feedback, bug-reports and comments to 
        a(href='mailto:dadler1@gwdg.de') Daniel Adler
        br
        br
   
